
body {
	background-color: #afeeee;
}
/* This will style the title*/
header {
	background-color: #333;
	max-width: 100%;
	height: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
	border-radius: 15px;
	border-width: 8px;
	border-style: solid;
	border-color: #111;
}

h1 {
	color: #777;
}

.title {
	padding-top: 4%;
	padding-bottom: 4%;
}

#title {
	display: block;
	margin: auto;
	width: 50%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #111;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: #777;
}
#title:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
/* assings the pointer to all buttons*/
#title, .topic-button, .gif-button, #add{
	cursor: pointer;
}
/*this styles the main area*/
.main{
  width: 100%;
  margin: 0 auto;
  clear: both;
  flex: 1 0 auto;
  padding: 1%;
}
#input-field {
	float: right;
	margin-right: 10%;
	max-width: 40%;
}
#button-area {
	float: left;
	width: 60%;
	max-height: 10%;
	height: auto;
}
.topic-button {
	font-size: 1.0em;
	padding: 1%;
	height: 100%;
	width: auto;
	color: #777;
	background-color: #111;
	border-radius: 5px;
	border-color: #777;
	margin-left: 2%;
	font-weight: bold;
	margin-top: 2%;
}

#add {
	color: #777;
	background-color: #111; 
	border-radius: 3px;
	border-width: 4px;
	border-style: solid;
	border-color: #111;
}

.gif-button{
	margin-top: 10px;
	width: 80%;
	margin-left: 10%;
	height: auto;

}
#item {
	width: 40%;
	height: auto;
	float: left;
	border-radius: 3px;
	border-width: 4px;
	border-style: solid;
	border-color: #111;
	margin-left: 5%;
	margin-top: 2%;
}
img {
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: #333;
}
p {
	margin-left: 30%;
}
/* this styles the aside column next to the gifs*/
.aside {
	width: 40%;
	float: right;
	align-items: center;
}

@media screen and (max-width: 850px) {
	.main {
		display: block;
		margin: auto;
	}
	#input-field {
		float: none;
		display: block;
		margin: auto;
	}
	input {
		max-width: 100%;
	}
	#add {
		display: block;
		margin: auto;
		margin-top: 5%;
	}
	#button-area {
		width: 100%;
		float: none;
		display: block;
		margin: auto;
		/* margin-top: 5%; */
	}
#item {
	width: 100%;
	display: block;
	margin: auto;
	float: none;
	border-style: none;
}
}

