html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	/*max-width: 100%;*/
	background-color: #afeeee;
}
/* This will style the title*/
header {
	background-color: #333;
	max-width: 100%;
	height: 200px;
	margin-top: 1%;
	text-align: center;
	border-radius: 15px;
	border-width: 8px;
	border-style: solid;
	border-color: #111;
}

h1 {
	color: #777;
}

.title {
	padding-top: 35px;
}

#title {
	width: 50%;
	padding: 1%;
	margin-left: 25%;
	background-color: #111;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: #777;

}
#title:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* assings the pointer to all buttons*/
#title, .topic-button, .gif-button, #add{
	cursor: pointer;
}
/*this styles the main area*/
.main{
  width: 100%;
  margin: 0 auto;
  clear: both;
  flex: 1 0 auto;
  padding: 20px;
}

#button-area {
	float: left;
	width: 60%;
	height: auto;
}
.topic-button {
	height: 50px;
	width: auto;
	color: #777;
	background-color: #111;
	border-radius: 5px;
	border-color: #777;
	margin-left: 3px;
	font-weight: bold;
}

#add {
	color: #777;
	background-color: #111; 
	border-radius: 3px;
	border-width: 4px;
	border-style: solid;
	border-color: #111;
}

.gif-button{
	margin-top: 10px;
	width: 80%;
	margin-left: 10%;
	height: auto;

}
#item {
	width: 40%;
	height: auto;
	float: left;
	border-radius: 3px;
	border-width: 4px;
	border-style: solid;
	border-color: #111;
	margin-left: 5%;
	margin-top: 2%;
}
img {
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: #333;
}
p {
	margin-left: 30%;
}
#gif-area {
	width: 100%;
	margin-top: 5%;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-radius: 10px;
	min-height: 100%;
}
/* this styles the aside column next to the gifs*/
.aside {
	width: 40%;
	float: right;
	align-items: center;
}

footer {
  margin: 27% 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #111;
  border-top: 8px solid #777;
  flex: 0;
  padding: 20px;
}
